@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #bdbdbd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
  }
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.navigation{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: row;

}
.sidenav{
    background-color: #e17803 !important;
}
.navigation2{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: row;
}
.sidebar{
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   

}
.sidebar .icon{
    left: 15px;
    position: fixed;
    z-index: 99;
}
.header .icon{
margin-top: 80px !important;
}
.sidebar .icon img{
width: 50px;
height: 50px;
background-color: rgb(225, 120, 3);
padding: 10px;
}

.logo img{
    position: relative;
    height: 50px;
    left: 20px;
    margin-bottom: 20px;
}
.header-video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -99;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-video video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.aboutus-header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.aboutus-header-image{
    top: 0;
    left: 0;
    position: absolute;
    z-index: -90;
    height: 100%;
    width: 100%;
}

.safari-card-area{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    flex-wrap: wrap;
}
.safari-card{
    width: 30%;
    position: relative;
    margin-bottom: 50px;
}
.safari-card img{
    width: 100%;
    height: 300px;
    position: relative;
    display: block;
    object-fit: cover;
}
.safari-card .safari-card-words{
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}
.safari-button{
    background-color: rgb(225, 120, 3) !important;
    width: 100%;
}
.safari-card-words h4{
    font-size: 16px;
    font-weight: 800;
}
@media(max-width: 576px){
    .safari-card{
        width: 100%;
    }
    .aboutus-header{
        height: 300px;
    }
    .aboutus-header-image{
        height: 300px;
    }
    .safari-carousel{
        height: 300px;
    }
    .safari-card-area{
        margin-top: 50px;
    }
    .logo img{
        height: 30px;
    }
}
.home-container{
    margin: 0 auto;
    width: 90%;
}
.safari-details-tabs{
    margin-top: 10px;
    position: relative;
    margin-bottom: 50px;
}
.safari-form{
    border: 1px solid;
    border-color: #bdbdbd;
    display: flex;
    flex-direction: column;
    border-radius: 1px;
    background-color: white;
    padding-top: 20px !important;
    
}
.safari-form-price-tab{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(225, 120, 3) !important;
}
.safari-form-price-tab h6{
    font-size: 20px;
    color: white;
}
.input-field{
    border: 1px solid;
    border-color: #bdbdbd;
    height: 45px;
    background-color: rgb(251, 253, 255);

  }
  
.input-field input[type=email]{
    border: none !important;
    border-bottom: 0px;
    
  }
  .input-field input[type=password]{
    border: none !important;
    border-bottom: 0px;
    
  }
  .input-field input[type=text]{
    border: none !important;
    border-bottom: 0px;
    
  }
  .input-field input[type=email]::placeholder,input[type=password]::placeholder,input[type=text]::placeholder{
  color: black;
  }
  .input-field input[type=password]:focus{
    border-bottom: none!important;
  box-shadow: none!important;
  }
  .input-field input[type=text]:focus{
    border-bottom: none!important;
  box-shadow: none!important;
  }
  

  .book-button{
      width: 50%;
      height: 50px;
      background-color: rgb(225, 120, 3) !important;
  }
  #gallery-tab{
    column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    position: relative;
  }
  #gallery-tab img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      margin-bottom: 20px;
  }
  .tour-instructions tr{
      font-size: 15px;
      font-weight: 700;
  }
  .tour-instructions i{
      color: #3e2723;
  }
  .tour-details-photo{
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}
.tour-details-words h4{
    font-weight: 700;
    margin-bottom: 50px;
}
.tour-details-words p{
    margin-bottom: 50px;
}
.tour-details-words img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tour-map{
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 70px;
}
.tab-text{
    color: white !important;
    font-weight: bold;
}
.tabs{
    background-color: rgb(225, 120, 3) !important;
}
.tabs .indicator{
    background-color: rgb(225, 120, 3) !important;
}


.tab-header{
    background-color: #bdb19b !important;
    font-weight: bold;
}
.collapsible-header > img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.tab-body{
    background-color:#e0e0e0 !important;
    font-family: 'Roboto', sans-serif;
}
.no-padding{
    padding:  0px !important;
}
.safari-details-header{
margin-top: 10px !important;
width: 90%;
margin: 0 auto;
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
}
.safari-details-header h6{
    font-size: 20px;
}
.safari-details-header h4{
max-width: 1000px !important;
}
.page-footer{
    background-color: rgb(225, 120, 3) !important;
}


.page-footer p{
    font-size: 12px !important;
}
.page-footer h6{
    font-size: 12px !important;
}
.booking-header{
    font-weight: bold;
    color: white;
    margin-left: 20px;
}
#demo{
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
}
#prices-tab, #gallery-tab{
    margin-top: 20px;
}
.contactus{
    margin: 0 auto;
    width: 50%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}
@media(max-width: 968px){
    .contactus{
        width: 95%;
    }
    .home-container{
        width: 95%;
    }
    .contactus{
        width: 95%;
    }
}
.safari-carousel{
    height: 100%;
    position: relative;
    background-color: black;
}
.safari-carousel img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.safari-form-contact{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.dropdown-icon{
    top: 90%;
    left: 90%;
    position: absolute;
    z-index: -60;
    background-color: rgb(225, 120, 3) !important;
}
.footer-heading{
    font-weight: bold;
}
.ken{
    margin-bottom: 20px;
    border-color: #bdbdbd;
    background-color: rgb(251, 253, 255);
}
.safari-overview{
    position: relative;
    width: 100%;
    height: 100vh;
}
.overview-words{
    height: 100vh;
    overflow: auto;
}
.overview-words-area{
    width: 90%;
    margin-top: 100px;
    margin: 0 auto;
    top: 100px;

}
.overview-words-area h6{
    font-weight: bold;
}
.overview-words-area p{
    text-align: justify;
}
.overview-words-area :first-child{
    margin-top: 100px;
}
.overview-photo-area{
    top: 20px;
    height: 100vh;
    overflow: auto;
    position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.overview-photos{
    width: 95%;
    height: 95%;
}
.photo1{
    height: 50%;
    position: relative;
    margin-bottom: 20px;
}
.photo2{
    height: 100%;
    position: relative;
}
.photo2 img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.photo1 img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
@media(max-width: 576px){
    .overview-words-area{
        height: 80%;
    }
    .overview-words-area h3{
        font-size: 16px;
        font-weight: bold;
    }
    .overview-words-area h6{
        font-size: 14px;
    }
    .overview-words-area p{
        font-size: 12px;
    }
    .dropdown-icon{
        display: none !important;
    }
}
.facebook-icon{
    color: #3b5998 !important;
}
.twitter-icon{
    color: #00aced;
}
.instagram-icon{
    color: #bc2a8d;
}
.whatsapp-icon{
    color: #25d366;
}

.aboutus-area{
    width: 100%;
    top: 0;
    left: 0;
}
.aboutus-photo-area{
    height: 100vh;
}
.aboutus-photo-area img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.aboutus-words-area{
    height: 100vh;
    overflow: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.aboutus-words-area h3{
    margin-top: 100px;
    font-weight: bold;
}
.aboutus-words-area p{
    max-width: 605px;
    line-height: 40px;
    font-size: 15px;
}
.aboutus-words-area h6{
    max-width: 605px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.aboutus-words-area span{
    font-size: 40px;
    font-weight: 800;
}
@media(max-width: 576px){
    .aboutus-photo-area{
        height: 500px;
    }
}
.team-photo-area{
    width: 100%;
    height: 600px;
    background-color: black;
}
.team-photo-area img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.team-words-area{
    width: 100%;
}
.team-words-area-heading{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}
.team-words-area-heading h3{
    font-weight: bold;
}
.team-words-area-people{
    width: 90%;
    margin: 0 auto;
}
.team-card{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-card-photo{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.team-card-photo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.destinations-page{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.destinations-page h2,h4,h6,p{
    max-width: 605px;
}
.destination-photo{
    height: 100vh;
    position: static;
    flex: 1;
    background-color: black;
}
.destinations-page h6{
    font-weight: bold;
}
.destinations-page h4{
    color: #e17803 !important;
    font-weight: bold;
}
.msafiridestinations{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactusselect{
    margin-top: 100px;
    border-color: #bdbdbd;
    background-color: rgb(251, 253, 255);
}
.sidenav{
    width: 280px !important;
}
.sidenav img{
    height: 40px;
    margin-top: 50px;
    margin-left: 20px;
}
.sidenav li a{
    font-weight: 800 !important;
    font-size: 16px !important;
    color: black !important;
}
.no-padding{
    padding: 0 !important;
}
.youtube-icon{
    color: red;
}
.safariul{
    padding: 0 30px !important;
}
.team-modal-photo img{
    width: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
}
.admin-body{
    width: 90%;
    margin: 0 auto;
}
.admin-safari-form{
    width: 50%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    top: 100px;
    position: relative;
    border-radius: 10px;
}
@media(max-width: 968px){
    .admin-body{
        width: 95%;
    }
    .admin-safari-form{
        width: 100%;
        top: 50px;
    }
}
.admin-cards{
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.divider{
    background-color: black !important;
}
.sidenav{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.gallery-page-header{
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -100;
}
.gallery-page-images{
    width: 100%;
    height: calc(100vh - 50px);
}
.gallery-carousel{
    height: calc(100vh - 50px);
    position: relative;
}
.gallery-carousel img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-navigation{
    position: absolute;
    top: 50px;
    left: 0;
}
.cards-concept{
    width: 90%;
    margin: 0 auto;
}
.card-concept-image{
    height: 300px !important;
}
.card-concept-image img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.card-content h6{
    font-weight: bold !important;
}
.recap{
    padding-bottom: 10px !important;
}
.overview-links{
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
align-items: center;
text-align: center;
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 30px;
}
.overview-links a{
    color: white;
}
.overview-links a:hover{
    color: #e17803;
}
.overview-links span{
    font-weight: bold;
}
.aboutus-main{
    width: 100%;
    padding: 100px;
}
.aboutus-main h6{
    font-weight: bold;
    font-style: italic;
}
@media(max-width: 968px){
    .aboutus-main{
        padding: 20px;
    }
}